.item {
  display: grid;
  grid-template-rows: 1fr;
  padding-bottom: 12px;
}

.item.closing {
  animation: removing 2000ms forwards;
}

.itemInner {
  overflow: hidden;
}

@keyframes removing {
  50% {
    transform: translateX(100%);
    grid-template-rows: 1fr;
    padding-bottom: 12px;
  }

  100% {
    transform: translateX(100%);
    grid-template-rows: 0fr;
    padding-bottom: 0;
  }
}
